/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* navbar */
.navbar-brand {
  font-weight: bold;
  color: #FFFFFF !important; 
}

.right {
  text-align: right;
}

.table {
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* footer */
footer {
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  color: #777;
  background-color: #EDEDED;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

footer nav{
  padding-top: 60px;
}

/* sticky footer */
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -140px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 140px; /* .push must be the same height as .footer */
}

/* person view */
.total-summary{
  width: 100%;
  text-align: right;
  float: right;
}

.total-summary h3{
  color: #b14949;
}

.left{
  float: left;
}

/* transaction details */
table.table tr td span.row-details { display:inline-block;}
.row-details{
  float: right;
  display: inline;
}

.center{
  text-align: center;
}