<h2>Sobre</h2>
</br>
<p>Essa é uma iniciativa que tem por objetivo tornar os dados fornecidos pelo governo em caráter de <a href="https://pt.wikipedia.org/wiki/Dados_abertos#Dados_abertos_no_governo">"Dados Abertos"</a> em informações inteligíveis para o cidadão comum.</p>
<p>Dados coletados pelo governo devem ser abertos aos cidadãos, direito garantido no artigo 5º da Constituição Federal brasileira (regula o acesso a informações públicas e está escrita no Projeto de Lei nº 41/2010).</p>
<p>Normalmente os dados são fornecidos em formato otimizado para máquinas (grandes arquivos com informações tabulares desordenadas), de modo que o cidadão mesmo tendo acesso aos dados, não tem como fazer análises simples de seu conteúdo de maneira eficiente. Para melhorar isso, os dados fornecidos pelo governo são organizados aqui de maneira que nenhuma informação seja alterada ou manipulada, para que qualquer pessoa possa fazer consultas e analisar os dados de maneira mais prática e objetiva.
Todos as fontes dos dados são citadas e podem ser facilmente verificadas sobre sua autenticidade.</p>
<p>Quaisquer dúvidas, sugestões ou reclamações, entre em contato.</p>
<br/>
<h3>Contribua</h3>
<p>Esse é um projeto de código aberto:</p>
<a href="https://github.com/lamoglia/cpgf_web">https://github.com/lamoglia/cpgf_web</a>
<br/>
<br/>