<h2>Cartão de Pagamento do Governo Federal (CPGF)</h2>
</br>
<p>Informações dos pagamentos para aquisição e compras governamentais por meio de cartões de pagamento do Governo Federal, realizados por portadores de órgãos e entidades da Administração Pública Federal, que executam as despesas pelo Sistema Integrado de Administração Financeira do Governo Federal (Siafi).
</p>
<a href="http://www.portaltransparencia.gov.br/downloads/mensal.asp?c=CPGF" target="blank">Fonte: portaltransparencia.gov.br</a>
<%= high_chart("yearly_total_chart", @yearly_total_chart) %>
<%= high_chart("total_by_person_chart", @total_by_person_chart) %>
<%= high_chart("total_by_favored_chart", @total_by_favored_chart) %>
<%= high_chart("total_by_superior_organ_chart", @total_by_superior_organ_chart) %>


