<footer class="footer">
  <div class="container">
    <a href="http://www.portaltransparencia.gov.br/downloads/mensal.asp?c=CPGF" target="blank" title="Portal da Transparência">Fonte: portaltransparencia.gov.br</a>
    <small>

    </small>
    <nav>
      <ul>
      </ul>
    </nav>
  </div>
</footer>