<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-xs-8">Unidade Gestora</th>
        <th class="col-xs-4">Proporção</th>
      </tr>
    </thead>
    <tbody>
      <% data.each do |entry| %>
        <tr>
            <td title="<%= entry[:management_unit].name %>"><%= link_to entry[:management_unit].name, management_unit_path_url(entry[:management_unit]) %></td>
            <td><%= number_with_precision(entry[:percentage], :precision => 2) %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>