<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-xs-8">Descrição</th>
        <th class="col-xs-4">Valor</th>
      </tr>
    </thead>
    <tbody>
      <% data.each do |favored| %>
        <tr>
            <td><%= link_to favored.name.nil?? 'NÃO INFORMADO': favored.name, favored_path_url(favored.id) %></td>
            <td><%= number_to_currency(favored.total) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>