<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-xs-8">Descrição</th>
        <th class="col-xs-4">Valor</th>
      </tr>
    </thead>
    <tbody>
      <% data.each do |person| %>
        <tr>
            <td><%= link_to person.name, person_path_url(person), title: person.name %></td>
            <td><%= number_to_currency(person.total_transactions) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>